/* Chat */

#chat-fake {
    display: block;
    width: 300px;
    height: 30px;
    position: fixed;
    z-index: 8888;
    bottom: 0;
    right: 30px;
    border-radius: 0;
    box-shadow: none !important;
}

#chat-global {
    display: none;
    z-index: 99999;
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 300px;
    height: 370px;

    /*min-width: 300px;
    min-height: 370px;*/

    max-width: 100%;
    max-height: calc(100% - 70px);

    margin-bottom: 0 !important;
    border-radius: 0 !important;
    box-shadow: 2px 15px 13px #cdcdcd;
    border: 0;
    background: #fff;
}

#chat-global .chat-header {
    width: 100%;
    height: 30px !important;
    border-radius: 0 !important;
    box-shadow: none !important;
    min-height: 30px !important;
}

#chat-global .chat-header:hover, #chat-fake:hover {
    cursor: pointer;
}

#chat-title {
    position: absolute;
    left: 10px;
    top: 5px;
    font-weight: bold;
    font-size: 15px;
}

#chat-drag {
    display: block;
    position: absolute;
    right: 42px;
    top: 4px;
}

#chat-reset {
    display: none;
    position: absolute;
    right: 42px;
    top: 4px;
    font-size: 24px;
}

#chat-close {
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 30px;
    font-weight: bold;
}

#chat-up {
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 25px;
}

#chat-messages {
    width: 100%;
    min-height: 200px;
    overflow-y: scroll;
}

#chat-area textarea {
    bottom: -50px;
    position: absolute;
    width: calc(100% - 50px);
}

#chat-send {
    position: relative;
    float: right;
    right: 0px;
    bottom: 5px;
    padding: 8px;
}