/* label color */
.input-field label {
    color: #29B6F6;
}
/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
    color: #29B6F6;
}
/* label underline focus color */
.input-field input[type=text]:focus, .input-field input[type=password]:focus {
    border-bottom: 1px solid #29B6F6;
    box-shadow: 0 1px 0 0 #29B6F6;
}

/* icon prefix focus color */
.input-field .prefix.active {
    color: #29B6F6;
}